/* Adding some style for the board itself */
.board {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

/* Adding style in the line */
.line {
    display: flex;
    gap: 5px;
}

/* Adding style to the tile. Which will be box */
.tile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

/* Tile color when the letter is in the correct position */
.tile.correct {
    background-color: green;
}

/* Tile color when the letter is present but in the wrong position */
.tile.present {
    background-color: yellow;
}

.input {
    margin-top: 30px;
    height: 20px;
    font-size: medium;
}